*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

ul[class],
ol[class] {
	padding: 0;
	list-style: none;
}

body {
	min-height: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-decoration-skip: objects;
	text-decoration-skip: objects;
	text-rendering: optimizeSpeed;
}

a {
	color: inherit;
}

.container {
	display: block;
	max-width: 1400px;
	min-height: 100%;
	margin: 0 auto;
}

.img-wrap {
	position: relative;
	padding-bottom: 60%;
	overflow: hidden;
}

.img-cover,
.img-contain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img-cover {
	-o-object-fit: cover;
	object-fit: cover;
}

.img-contain {
	-o-object-fit: contain;
	object-fit: contain;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

a {
	text-decoration: none;
	background-color: transparent;
}

img,
picture {
	display: block;
	max-width: 100%;
}

::-moz-selection {
	color: #fff;
	background-color: #7656d2;
}

::selection {
	color: #fff;
	background-color: #7656d2;
}

.navbar {
	padding: 10px;
	padding-top: 30px;
}

.navbar__content {
	display: flex;
	align-items: center;
}

.navbar__logo {
	cursor: pointer;
}

.navbar__logo path {
	transition: all 0.3s ease 0s;
}

.navbar__logo:hover path {
	fill: #7656d2;
}

.navbar .container {
	position: relative;
}

.navbar-menu {
	display: flex;
	flex: 1 0 auto;
	justify-content: flex-end;
}

.navbar-menu__list {
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.navbar-menu__item {
	margin-right: 50px;
}

.navbar-menu__line {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	width: 100px;
	height: 3px;
	background: #7656d2;
	border-radius: 20px;
	transform: translateY(10px);
	opacity: 0;
}

.navbar-menu__link {
	font-weight: 500;
	font-size: 29px;
	transition: all 0.3s ease 0s;
}

.navbar-menu__link:hover {
	color: #a5a5a5;
}

.navbar-menu__link.active {
	color: #7656d2;
}

.navbar-menu__burger-icon {
	position: absolute;
	bottom: 0;
	display: block;
	width: 30px;
	height: 20px;
}

.navbar-menu__burger-icon span {
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	background: #7656d2;
}

.navbar-menu__burger-icon span:first-child {
	top: 0;
}

.navbar-menu__burger-icon span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.navbar-menu__burger-icon span:last-child {
	bottom: 0;
}

.navbar-menu__burger {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.navbar-user__avatar {
	display: block;
	width: 75px;
	height: 75px;
	overflow: hidden;
	border: 4px solid #e3e3e3;
	border-radius: 50%;
	cursor: pointer;
}

.navbar-user__menu-wrapper {
	position: absolute;
	right: 0;
	padding-top: 40px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease 0s;
}

.navbar-user__menu {
	position: relative;
	padding: 25px 40px 25px 25px;
	background: #f5f5f5;
	border: 2px solid #e3e3e3;
	border-radius: 5px;
}

.navbar-user__link-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.navbar-user__menu-wrapper:hover {
	transform: translate(0, -10%);
	visibility: visible;
	opacity: 1;
}

.navbar-user__avatar:hover + .navbar-user__menu-wrapper {
	transform: translate(0, -10%);
	visibility: visible;
	opacity: 1;
}

.navbar-user__menu-link {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.navbar-user__triangle {
	position: absolute;
	top: 0;
	right: 7%;
	transform: translate(0%, -95%);
}

.navbar-user__link {
	margin-top: 25px;
	font-size: 24px;
	transition: all 0.3s ease 0s;
}

.navbar-user__link:first-child {
	margin-top: 0;
}

.navbar-user__link:nth-child(4) {
	margin-top: 0;
}

.navbar-user__link:hover {
	color: #7656d2;
}

@media (max-width: 1200px) {
	.navbar-menu__link {
		font-size: 24px;
	}

	.navbar-user__link {
		font-size: 20px;
	}
}

@media (max-width: 992px) {
	.navbar-menu__item {
		margin-right: 25px;
	}

	.navbar-user__avatar {
		width: 70px;
		height: 70px;
	}
}

@media (max-width: 870px) {
	.navbar__content {
		justify-content: flex-end;
	}

	.navbar__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.navbar-menu {
		flex: 0 1 auto;
		order: 1;
	}

	.navbar-menu__list {
		display: none;
	}

	.navbar-menu__burger {
		display: block;
		visibility: visible;
		opacity: 1;
	}

	.navbar-user__menu-link {
		display: block;
		visibility: visible;
		opacity: 1;
	}

	.navbar-user__link:nth-child(4) {
		margin-top: 25px;
	}
}

@media (max-width: 576px) {
	.navbar__content {
		justify-content: space-between;
	}

	.navbar__logo {
		position: relative;
		top: 0;
		left: 0;
		padding-right: 30px;
		transform: translate(0, 0);
	}

	.navbar-menu {
		order: 0;
	}
}
